{
  "env": {
    "node": true
  },
  "extends": ["airbnb-base", "plugin:jest/recommended", "prettier", "plugin:security/recommended"],
  "parser": "babel-eslint",
  "rules": {},
  "plugins": ["jest", "security"]
}